* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 0.4rem 0.8rem;
}

#root {
  height: 100vh;
  width: 100vw;
}

.b-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 2.5rem;
}

.a, .b, .c, .d {
  border: 1px solid black;
  margin: 5rem;
}

.c, .d {
  padding: 2.5rem;
}