* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  height: 500px;
  width: 400px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
  padding: 1rem;
}

.calculator > h2 {
  padding-left: 0.5rem;
}

.calcBody {
  flex-grow: 1;
  display: grid;
  grid-template-areas: 
    "calcInput calcActions"
    "calcNum calcActions"
    "calcNum calcActions"
    "calcNum calcActions"
    "calcNum calcActions"
    "calcNum calcActions"
    "calcNum calcActions"
    "calcNum calcActions";
  grid-gap: 1.5rem 1rem;
}

.calcuator-display {
  grid-area: calcInput;
  border: 1px solid black;
  display: flex;
}

.calcuator-display > h2 {
  align-self: center;
  padding-left: 0.5rem;
}

.calculator-numbers {
  grid-area: calcNum;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  padding: 1rem;
}

.calculator-numbers > button {
  justify-self: center;
  align-self: center;
}

.last-num-item {
  grid-column: 3;
}

.calculator-actions {
  grid-area: calcActions;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1rem;
}

.calculator-actions > ul {
  display: grid;
  grid-gap: 0.5rem;
}

.calculator-actions > ul > li {
  justify-self: center;
}

.calculator-input {
  border: 1px solid darkcyan;
  border-radius: 4px;
  height: 50px;
  width: 50px;
}